/*@img-url:'/sf-images/default-source/2015/pricing';*/
/*********************************************************************************************
Global/helper styles
**********************************************************************************************/
html,
body {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #ffffff;
}
/*Typography*/
h1,
h2,
h3,
h4,
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
.h1 {
  font-size: 42px;
  font-size: 3rem;
}
h2,
.h2 {
  font-size: 32px;
  font-size: 2.28571429rem;
}
h3,
.h3 {
  font-size: 24px;
  font-size: 1.71428571rem;
}
h4,
.h4 {
  font-size: 20px;
  font-size: 1.42857143rem;
}
p {
  font-size: 14px;
  font-size: 1rem;
}
.disclaimer {
  font-size: 12px;
  font-size: 0.85714286rem;
}
.font-light {
  font-weight: 300;
}
.font-bold {
  font-weight: 700;
}
blockquote {
  font-family: Georgia, serif;
}
blockquote footer {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*Colors*/
.white {
  color: #ffffff;
}
.black {
  color: #000000;
}
/*Helper classes*/
.nopad {
  padding: 0;
}
.nomargin {
  margin: 0;
}
img {
  max-width: 100%;
}
.media img {
  max-width: initial;
}
.row.row-spacing {
  margin-bottom: 40px;
}
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}
/*********************************************************************************************
Components
**********************************************************************************************/
.header {
  background: #ccc;
}
