/*********************************************************************************************
Global/helper styles
**********************************************************************************************/
:root{
	font-size:@base-font-size;
	font-family: @font-family;
	/*line-height: 1em;*/
}
html, body{ 	
	background:@white;
	font-family: @font-family;
	font-size:@base-font-size;

}
/*confined containg for marketing team*/
@media @desktop-lg, @desktop-xl{
	.container{
		width:970px;
	}
}
/*5 Column Layout*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
/*Typography*/
h1, h2, h3, h4, h5 p{ 	font-family: @font-family;}
h1, h2, h3, h4, h5 { 	color:@black}

h1, .h1 { 
	.font-size(42px);
	font-weight:700;
	margin-bottom:10px;
	@media @mobile{
		.font-size(32px);
	}
}
h2, .h2 {
	.font-size(32px);
	@media @mobile{
		.font-size(28px);
	}
	&.subheadline{
		.font-size(26px);
		margin-top:0;
		font-weight: 400;
	}
}
h3, .h3{ .font-size(24px); }
h4, .h4{ .font-size(20px); }
h5, .h5{ .font-size(18px);}
p{ .font-size(16px);}

.disclaimer{
	.font-size(12px);
}
.font-light{ font-weight: @light;}
.font-bold { font-weight: @bold; }

blockquote{
	font-family:Georgia, serif;
	p{
		font-family:Georgia, serif;
		.font-size(20px);
		font-style: italic;
	}
	footer{
		font-family: @font-family;
		.font-size(14px);
	}
}

/*Colors*/
.white  { color: @white; }
.black  { color:@black; }
.red    { color:@red;}
.dk-grey{ color:@dk-grey;}
.navy   { color:@navy;}
.teal   { color:@teal;}
.green  { color:@green;}

/*Helper classes*/
.nopad{padding:0;}
.nomargin{margin:0;}
.text-shadow{
	.text-shadow(1px 1px 1px #666);
}

.right-rail{
	border-right:1px solid @footer-grey;
	@media @mobile, @desktop-sm{
		border-right:none;
	}
	.row{
		padding-right: 15px;
	}
}

.left-rail{
	border-right:1px solid @footer-grey;
	@media @mobile, @desktop-sm{
		border-right:none;
	}
	.row{
		padding-left: 15px;
	}
}

.flip{
	.transform(scaleX(-1));
}

.row{
	&.row-spacing{
		margin-bottom: @row-spacing;
	}
}

.clear{
	clear:both;
	margin-top: 30px;
	margin-bottom: 30px;
}

.margin-tb{
	margin-top: 20px;
	margin-bottom: 20px;
}

/*Resposnive Text align-center*/
.col-xs-center{
	@media @mobile{
		text-align: center;
	}
}
.col-sm-center{
	@media @desktop-sm{
		text-align: center;
	}
}


a{
	.linkColor(@teal);

	&.cta{
		background:@red;
		color:@white;
		text-align: center;
		.font-size(24px);
		padding:.25em .5em;
		.border-radius(.283em);
		&:visited{
			color:@white;
		}
		&:hover, &:focus, &:active{
			background: #ff0000;
			color:@white;
			.transition(@transition-time);
		}
		&.cta-lg{
			.font-size(28px);
		}
		&.blue-btn{
			background:@teal;
			&:hover, &:focus, &:active{
				background:lighten(@teal, 20%);
				.transition(@transition-time);

			}
		}
	}
}

/*********************************************************************************************
Components
	Backgrounds
	Footer
	Header
	
	Video - responsive embed
*********************************************************************************************/

/* ---------------------------------------------------------------------------------------
Backgrounds
---------------------------------------------------------------------------------------  */
/*White bg*/
.white-bg{
	background:@white;
	padding:30px 0;
	&.header-flush{
		padding-top:0;
	}
	h2{
		color:@navy;
	}
}

/* Grey BG*/
.grey-bg{
	background:#f1f1f1;
	padding:30px 0;
	
}

.lt-grey-bg{
	background:#fafafa;
	padding:30px 0;
}

/* --------------------------------------------------------------------------------------- 
Footer
--------------------------------------------------------------------------------------- */
.footer{
	
}

/* ---------------------------------------------------------------------------------------
Header
--------------------------------------------------------------------------------------- */
.header{
	
}


/* --------------------------------------------------------------------------------------- 
Video - responsive embed
---------------------------------------------------------------------------------------*/
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}





