/* ----------------------
Project: eFax US Rebuild
Version: 2.0
Designer: 
Developer: Cliff Wong
------------------------ */
/*********************************************************************************************
Page/Location Specific Styles
**********************************************************************************************/
/* ------------------
Features : mobile apps
---------------------- */
.features-mobile-apps .list-images li {
  padding: 15px 0;
}
.features-mobile-apps .list-images img {
  width: 80%;
}
/* --------------------
How it works 
---------------------- */
.how-it-works .compare-panel .compare-image {
  min-height: 215px;
}
/* ------------------ 
Help Center
--------------------- */
.help-center .sfsearchTxt {
  width: 90% !important;
  margin: 10px 0;
}
.help-center-search .sfsearchSubmit {
  background: #006699;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
  padding: .25em .5em;
  -webkit-border-radius: 0.283em;
  border-radius: 0.283em;
  background-clip: padding-box;
  border: none;
}
.help-center-search .sfsearchSubmit:hover,
.help-center-search .sfsearchSubmit:focus,
.help-center-search .sfsearchSubmit:active {
  background: #00aaff;
}
.k-list-container {
  border: 1px solid #ccc;
  padding: 10px;
  background: #fff;
  font-size: 14px !important;
}
.k-list-container ul {
  padding-left: 0;
}
.k-list-container ul li {
  list-style: none;
  padding: 5px;
}
.k-list-container .k-state-hover {
  background: #333;
  color: #ffffff;
}
/*
********************************************************************************************
fonts
********************************************************************************************
*/
